@model Puc.Campinas.ProjetoFinalSI.Web.Models.PartidoModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="../../Content/paging.js"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<link href="../../Content/paging.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    function excluirRegistro(idRegistro) {
        if (confirm('Tem certeza que deseja excluir este registro?')) {
            location.href = '@Url.Action("Delete", "Partidos")?id=' + idRegistro;
        }
    }

    function editarRegistro(idRegistro) {
        location.href = '@Url.Action("Edit", "Partidos")?id=' + idRegistro;
    }

    function detalharRegistro(idRegistro) {
        location.href = '@Url.Action("Details", "Partidos")?id=' + idRegistro;
    }

    function pesquisarRegistros(filtro) {
        location.href = '@Url.Action("PesquisarRegistros", "Partidos")?param=' + filtro;
    }

</script>
<h4>
    <a class="migalha_pao_inicio" href="@Url.Action("Index", "Home")"> Painel de controle </a>
    <a class="migalha_pao_proximo" href="#"> <img src="../../Content/img/arrow_right2.png" alt="" /> </a>
    <a class="migalha_pao_fim" href="@Url.Action("Index", "Partidos")"> Manutenção de partidos</a>
</h4>
@Html.ValidationSummary(false)
<div style="float: left;">
    <a class="bt_blue" href="#" onclick="location.href='@Url.Action("Create", "Partidos")'">
        <span class="bt_blue_lft"></span><strong>Incluir Partido</strong> <span class="bt_blue_r">
        </span></a>
    <br />
</div>
<div class="sidebar_search" style="float: right;">
    <input type="text" id="txtFilter" name="" class="search_input" value="@Model.FiltroPesquisa"/>
    <input type="image" class="search_submit" src="../../Content/img/magnifier.png" onclick="pesquisarRegistros($('#txtFilter').val())" />
</div>
<br />
<br />
@*Grid de Partidos*@
<table id="rounded-corner">
    <thead>
        <tr>
            <th scope="col" class="rounded-company" style="width: 10%">
                Número 
            </th>
            <th scope="col" class="rounded" style="width: 10%">
                Sigla
            </th>
            <th scope="col" class="rounded" style="width: 80%">
                Nome
            </th>
            <th scope="col" class="rounded">
            </th>
            <th scope="col" class="rounded">
            </th>
            <th scope="col" class="rounded-q4">
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Puc.Campinas.ProjetoFinalSI.Entidade.Partido item in Model.ListaPartidos)
        {  
            <tr>
                <td style="text-align: center;">
                    @item.NroPartido
                </td>
                <td>
                    @item.Sigla
                </td>
                <td>
                    @item.Nome
                </td>
                <td>
                    <a href="#" class="ask" onclick="detalharRegistro(@item.IdPartido)">
                        <img src="../../Content/img/magnifier.png" alt="" title="" border="0" /></a>
                </td>
                <td>
                    <a href="#" onclick="editarRegistro(@item.IdPartido)">
                        <img src="../../Content/img/edit.png" alt="" title="" border="0" /></a>
                </td>
                <td>
                    <a href="#" class="ask" onclick="excluirRegistro(@item.IdPartido)">
                        <img src="../../Content/img/delete.png" alt="" title="" border="0" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<!-- div onde será criados os links da paginação -->
<br />
<div id="pageNav" class="pagination" style="float: right;">
</div>
<script type="text/javascript">
    var pager = new Pager('rounded-corner', 10);
    pager.init();
    pager.showPageNav('pager', 'pageNav');
    pager.showPage(1);
</script>
