@model Puc.Campinas.ProjetoFinalSI.Web.Models.MembroComissaoModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<h4>
    <a class="migalha_pao_inicio" href="@Url.Action("Index", "Home")"> Painel de controle </a>
    <a class="migalha_pao_proximo" href="#"> <img src="../../Content/img/arrow_right2.png" alt=""/> </a>
    <a class="migalha_pao_meio" href="@Url.Action("Index", "MembrosComissoes")"> Manutenção de membros de comissões </a>
    <a class="migalha_pao_proximo" href="#"> <img src="../../Content/img/arrow_right2.png" alt="" /> </a>
    <a class="migalha_pao_fim" href="#"> Incluir membro de comissão </a>

</h4>
@using (Html.BeginForm("Create", "MembrosComissoes", FormMethod.Post, new { id = "frmCreateMembrosComissoes" }))
{   
    @Html.ValidationSummary(false);
    @Html.Hidden("IdMembroComissao", Model.IdMembroComissao)    
    @Html.Hidden("IdPolitico", Model.IdPolitico)

    
    <div class="editor-label">
        @Html.Label("* Comissão: ")
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(x => x.IdComissao, new SelectList(Model.ListaComissoes, "IdComissao", "Nome"), "Selecione ...", new { @style = "width:30%;" })
    </div>
    <br />
    <div class="editor-label">
        @Html.Label("* Cargo em comissão: ")
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(x => x.IdCargoComissao, new SelectList(Model.ListaCargosComissoes, "IdCargoComissao", "Nome"), "Selecione ...", new { @style = "width:30%;" })
    </div>
    <br />
    <br />
    
    <div id="botoesInferiores" align="right">
        <table>
            <tr>
                <td>
                    <a class="bt_blue" href="#" onclick="location.href='@Url.Action("Index", "MembrosComissoes")'">
                        <span class="bt_blue_lft"></span><strong>Voltar</strong> <span class="bt_blue_r">
                    </span></a>
                </td>
                <td>
                    <span>&nbsp &nbsp</span>
                </td>
                <td>
                    <a class="bt_blue" href="#" onclick="$('#frmCreateMembrosComissoes').submit();"><span class="bt_blue_lft">
                    </span><strong>Salvar</strong> <span class="bt_blue_r"></span></a>
                </td>
            </tr>
        </table>
    </div>    
}
