@model Puc.Campinas.ProjetoFinalSI.Web.Models.MembroComissaoModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="../../Content/paging.js"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<link href="../../Content/paging.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">

    function excluirRegistro(idRegistro) {
        if (confirm('Tem certeza que deseja excluir este registro?')) {
            location.href = '@Url.Action("Delete", "MembrosComissoes")?id=' + idRegistro;
        }
    }

    function editarRegistro(idRegistro) {
        location.href = '@Url.Action("Edit", "MembrosComissoes")?id=' + idRegistro;
    }

    function detalharRegistro(idRegistro) {
        location.href = '@Url.Action("Details", "MembrosComissoes")?id=' + idRegistro;
    }

</script>
<h4>
    <a class="migalha_pao_inicio" href="@Url.Action("Index", "Home")"> Painel de controle </a>
    <a class="migalha_pao_proximo" href="#"> <img src="../../Content/img/arrow_right2.png" alt=""/> </a>
    <a class="migalha_pao_meio" href="@Url.Action("Index", "Atividades")"> Manutenção de membros de comissões </a>
    <a class="migalha_pao_proximo" href="#"> <img src="../../Content/img/arrow_right2.png" alt=""/> </a>
    <a class="migalha_pao_fim" href="#"> Pesquisar membro de comissão </a>

</h4>
<br />
<div style="float: left;">
    <a class="bt_blue" href="#" onclick="location.href='@Url.Action("Create", "MembrosComissoes")?idPolitico=' + @Model.IdPolitico">
        <span class="bt_blue_lft"></span><strong>Incluir membro de comissão</strong> <span class="bt_blue_r">
        </span></a>
</div>
<br />
<br /><br />
<fieldset style="width: 100%">
    <legend>Histórico e Manutenção de Membros de Comissões: </legend>
    <br />
    <table>
        <tr>
            <td>
                <b>@Html.Label("Político: ")</b>
            </td>
            <td>@Model.NomePolitico
            </td>
        </tr>
    </table>
    <br />
    <table id="rounded-corner">
        <thead>
            <tr>
                <th scope="col" class="rounded-company" style="width: 60%">
                    Comissão
                </th>
                <th scope="col" class="rounded" style="width: 35%">
                    Cargo
                </th>
                <th scope="col" class="rounded">
                </th>
                <th scope="col" class="rounded">
                </th>
                <th scope="col" class="rounded-q4">
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Puc.Campinas.ProjetoFinalSI.Entidade.MembroComissao item in Model.ListaMembrosComissoes)
            {  
                <tr>
                    <td>
                        @item.NomeComissao
                    </td>
                    <td>
                        @item.NomeCargoComissao
                    </td>
                    <td>
                        <a href="#" class="ask" onclick="detalharRegistro(@item.IdMembroComissao)">
                            <img src="../../Content/img/magnifier.png" alt="" title="" border="0" /></a>
                    </td>
                    <td>
                        <a href="#" onclick="editarRegistro(@item.IdMembroComissao)">
                            <img src="../../Content/img/edit.png" alt="" title="" border="0" /></a>
                    </td>
                    <td>
                        <a href="#" class="ask" onclick="excluirRegistro(@item.IdMembroComissao)">
                            <img src="../../Content/img/delete.png" alt="" title="" border="0" /></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <!-- div onde será criados os links da paginação -->
    <br />
    <div id="pageNav" class="pagination" style="float: right;">
    </div>
    <script type="text/javascript">
        var pager = new Pager('rounded-corner', 5);
        pager.init();
        pager.showPageNav('pager', 'pageNav');
        pager.showPage(1);
    </script>
</fieldset>
<br />
<div id="botoesInferiores" align="right" style="width: 103%;">
    <a class="bt_blue" href="#" onclick="location.href='@Url.Action("Index", "MembrosComissoes")'">
        <span class="bt_blue_lft"></span><strong>Voltar</strong> <span class="bt_blue_r">
        </span></a>
</div>
