@model Puc.Campinas.ProjetoFinalSI.Web.Models.FuncionalidadeModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<h4>
   <!-- Sistema - <a href="#">Painel de Controle</a> - Manutenção de Funcionalidades -->

    <a class="migalha_pao_inicio" href="@Url.Action("Index", "Home")"> Painel de controle </a>
    <a class="migalha_pao_proximo" href="#"> <img src="../../Content/img/arrow_right2.png" alt="" /> </a>
    <a class="migalha_pao_meio" href="@Url.Action("Index", "Funcionalidades")"> Manutenção de funcionalidades </a> 
    <a class="migalha_pao_proximo" href="#"> <img src="../../Content/img/arrow_right2.png" alt="" /> </a>
    <a class="migalha_pao_fim" href="#"> Detalhar funcionalidade</a>
</h4>
@using (Html.BeginForm("Details", "Funcionalidades", FormMethod.Post))
{   
    @Html.ValidationSummary(false);
    @Html.Hidden("IdFuncionalidade", Model.IdFuncionalidade)    
    
    <div class="editor-label">
        @Html.Label("* Nome: ")
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(x => x.Nome, new { @maxlength = "100%", @style = "width:100%; text-transform:uppercase;", @disabled = "disabled" })
    </div>
    <br />
    <div class="editor-label">
        @Html.Label("* Descrição: ")
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(x => x.Descricao, new { @style = "width:100%; height:80px;", @disabled = "disabled" })
    </div>
    <br />

    <div id="botoesInferiores" align="right">
        <table>
            <tr>
                <td>
                    <a class="bt_blue" href="#" onclick="location.href='@Url.Action("Index", "Funcionalidades")'">
                        <span class="bt_blue_lft"></span><strong>Voltar</strong> <span class="bt_blue_r">
                        </span></a>
                </td>
                <td>
                </td>
            </tr>
        </table>
    </div>         
}
