@model Puc.Campinas.ProjetoFinalSI.Web.Models.NoticiaModel
@{
    ViewBag.Title = "_PortalNoticiasInclusao";
}
<style type="text/css">
    .addNoticia
    {
        cursor: pointer;
        border: 1px dashed #DADADA;
        border-radius: 3px 3px 3px 3px;
        box-shadow: none;
        display: inline-block;
        position: relative;
        text-align: center;
        width: 130px;
        height: 125px;
        float: left;
        margin: 5px;
    }
</style>
<script type="text/javascript">

    $(document).ready(function () {

        $('#jqte-test').jqte();

        // settings of status
        var jqteStatus = true;
        $("#status").click(function () {
            jqteStatus = jqteStatus ? false : true;
            $('#jqte-test').jqte({ "status": jqteStatus })
        });

    });

    function countCaracter(id, div) {
        var target = $(div);
        var max = target.attr('title');
        var len = $(id).val().length;
        var remain = max - len;
        if (len > max) {
            var val = $(id).val();
            $(id).val(val.substr(0, max));
            remain = 0;
        }
        $(div).html(' Restam ' + remain + ' Caracteres.');
    }

    function excluirImg(id) {

        if (id == 0) {
            $('#addFoto0').html('<div><img style="margin-top: 30px" src="../../Content/portal/img/imgNoticia.png" title="Adicionar Imagem" alt="Adicionar Imagem"></div>');
        }
        else {
            $('#addFoto' + id).html('<div style="margin-top: 40px;"><img src="../../Content/portal/img/cam.png" alt="Clique para adicionar" title="Clique para adicionar"></div>');
        }

        $('#file' + id).empty();
    }

    $("#file0").change(function () {
        $('#addFoto0').html('<img id="foto0" style="width:130px; height:125px;" src="#" alt="Imagem Portal" /><img id="excluir0" style="margin-top:2px;" src="../../Content/img/trash1.png" alt="Excluir" onclick="excluirImg(0)"/>');
        readURL(this, '#foto0');
    });

    $("#file1").change(function () {
        $('#addFoto1').html('<img id="foto1" style="width:130px; height:125px;" src="#" alt="Imagem 1" /><img id="excluir1" style="margin-top:2px;" src="../../Content/img/trash1.png" alt="Excluir" onclick="excluirImg(1)"/>');
        readURL(this, '#foto1');
    });

    $("#file2").change(function () {
        $('#addFoto2').html('<img id="foto2" style="width:130px; height:125px;" src="#" alt="Imagem 2" /><img id="excluir2" style="margin-top:2px;" src="../../Content/img/trash1.png" alt="Excluir" onclick="excluirImg(2)" />');
        readURL(this, '#foto2');
    });

    $("#file3").change(function () {
        $('#addFoto3').html('<img id="foto3" style="width:130px; height:125px;" src="#" alt="Imagem 3" /><img id="excluir3" style="margin-top:2px;" src="../../Content/img/trash1.png" alt="Excluir" onclick="excluirImg(3)"/>');
        readURL(this, '#foto3');
    });

    $("#file4").change(function () {
        $('#addFoto4').html('<img id="foto4" style="width:130px; height:125px;" src="#" alt="Imagem 4" /><img id="excluir4" style="margin-top:2px;" src="../../Content/img/trash1.png" alt="Excluir" onclick="excluirImg(4)" />');
        readURL(this, '#foto4');
    });

    $("#file5").change(function () {
        $('#addFoto5').html('<img id="foto5" style="width:130px; height:125px;" src="#" alt="Imagem 5" /><img id="excluir5" style="margin-top:2px;" src="../../Content/img/trash1.png" alt="Excluir" onclick="excluirImg(5)" />');
        readURL(this, '#foto5');
    });

    function readURL(input, id) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $(id).attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function salvar() {

        var ret = validar();

        if (ret == true) {
            $('#frmCreateNoticia').submit();
        }
    }

    function voltar() {

        $.ajax({
            type: "GET",
            url: '@Url.Content("~/PortalNoticias/ManterNoticiasByArea")',
            data: { areaSelecionada: '@Model.AreaSelecionada' },
            async: false,
            cache: false,
            success: function (data) {
                if (data != '') {
                    $('#divManutencaoNoticias').html(data);
                    $('#divManutencaoNoticias').show();
                }
            }
        });
    }

    function validar() {

        var isvalid = true;

        if ($('#txtTitulo').val() == '') {
            $('#invalidTitulo').show();
            isvalid = false;
        }
        else {
            $('#invalidTitulo').hide();
        }

        if ($('#txtResumo').val() == '') {
            $('#invalidNoticiaResumida').show();
            isvalid = false;
        }
        else {
            $('#invalidNoticiaResumida').hide();
        }

        if ($('#txtConteudo').val() == '') {
            $('#invalidNoticiaDetalhada').show();
            isvalid = false;
        }
        else {
            $('#invalidNoticiaDetalhada').hide();
        }

        return isvalid;
    }

    function vincularPolitico() {

        if ($('#ddlPoliticos').val() == null || $('#ddlPoliticos').val() == '' || $('#ddlPoliticos').val() == 'Selecione') {
            $('#divValidation').html('* É necessário selecionar um político');
            $('#divValidation').show();
        }
        else {

            if (!$('#PoliticosSelecionados').val().contains($('#ddlPoliticos').val())) {
                $('#divValidation').hide();


                $('#PoliticosSelecionados').val($('#PoliticosSelecionados').val() + $('#ddlPoliticos').val() + ',');

                populaPoliticos();
            }
            else {
                alert('Este político já foi relacionado para esta notícia!');
            }
        }
    }

    function populaPoliticos() {
        $.ajax({
            type: "GET",
            url: '@Url.Content("~/PortalNoticias/AdicionarPolitico")',
            data: { politicos: $('#PoliticosSelecionados').val() },
            async: false,
            cache: false,
            success: function (data) {
                if (data != '') {
                    $('#dynamic').html(data);
                    $('#dynamic').show();
                }
            }
        });
    }

    function ddlCargos_change() {
        if ($("#ddlCargos").val() != '' && $("#ddlCargos").val() != 'Selecione') {
            $.ajax({
                type: "GET",
                url: '@Url.Content("~/PortalNoticias/ObterPoliticosByCargo")',
                data:
            {
                idCargo: $("#ddlCargos").val()
            },
                dataType: "json",
                success: function (data) {
                    if (data != '') {

                        $("#ddlPoliticos").html('');

                        $("#ddlPoliticos").append("<option value='Selecione'>Selecione</option>");

                        $.each(data, function (i, item) {
                            $("#ddlPoliticos").append("<option value='" + data[i].IdPolitico + "'>" + data[i].Nome + "</option>");
                        })

                        $("#ddlPoliticos").removeAttr('disabled');
                    }
                    else {
                        $("#ddlPoliticos").html('');
                        $("#ddlPoliticos").attr('disabled', 'disabled');
                    }
                }
            });
        }
        else {
            $("#ddlPoliticos").html('');
            $("#ddlPoliticos").attr('disabled', 'disabled');
        }
    }

    function excluirPolitico(idPolitico) {
        $('#PoliticosSelecionados').val($('#PoliticosSelecionados').val().replace(idPolitico + ',', ''));
        populaPoliticos();
    }

</script>
@using (Html.BeginForm("Create", "PortalNoticias", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmCreateNoticia" }))
{   
    @Html.Hidden("AreaSelecionada", Model.AreaSelecionada)
    @Html.Hidden("PoliticosSelecionados")
    <div style="text-align: center;">
        <b>Atenção! Você está incluindo esta notícia
            @{
if (Model.AreaSelecionada == 1)
{
                <text> no <font color="red">Cabeçalho </font>
                </text>
}

if (Model.AreaSelecionada == 2)
{
                <text> na <font color="red">Esquerda </font>
                </text>
}

if (Model.AreaSelecionada == 3)
{
                <text> na <font color="red">Direita </font>
                </text>
}  
            }
            do portal.</b>
    </div>
    <br />
    <br />
    <fieldset style="border: 1px solid gainsboro; padding: 10px;">
        <legend><b>&nbsp;Adicione Imagens&nbsp;</b></legend>
        <div style="font-size: 12px; color: #999999; line-height: 12px; float: left;">
            <strong>Você pode enviar até 6 fotos </strong>, sendo que a primeira será a do <strong>
                Portal</strong> e as demais em alta definição para que os leitores possam ampliar
            a imagem da notícia no álbum.
        </div>
        <br />
        <br />
        <div style="border: none; width: 850px; height: 147px; float: left; margin: 5px;
            padding-left: 45px; padding-top: 10px;">
            <div style="background: none repeat scroll 0px 0px rgb(245, 245, 245); border: 1px dashed rgb(218, 218, 218);
                border-radius: 3px 3px 3px 3px; box-shadow: none; display: inline-block; position: relative;
                text-align: center; float: left; margin-top: 5px; height: 125px; width: 130px;
                cursor: pointer;" id="addFoto0" onclick="$('#file0').trigger('click');">
                <div>
                    <img style="margin-top: 30px" src="../../Content/portal/img/imgNoticia.png" title="Adicionar Imagem"
                        alt="Adicionar Imagem">
                </div>
            </div>
            <div class="addNoticia" id="addFoto1" onclick="$('#file1').trigger('click');">
                <div style="margin-top: 40px;">
                    <img src="../../Content/portal/img/cam.png" alt="Clique para adicionar" title="Clique para adicionar" />
                </div>
            </div>
            <div class="addNoticia" id="addFoto2" onclick="$('#file2').trigger('click');">
                <div style="margin-top: 40px;">
                    <img src="../../Content/portal/img/cam.png" alt="Clique para adicionar" title="Clique para adicionar" />
                </div>
            </div>
            <div class="addNoticia" id="addFoto3" onclick="$('#file3').trigger('click');">
                <div style="margin-top: 40px;">
                    <img src="../../Content/portal/img/cam.png" alt="Clique para adicionar" title="Clique para adicionar" />
                </div>
            </div>
            <div class="addNoticia" id="addFoto4" onclick="$('#file4').trigger('click');">
                <div style="margin-top: 40px;">
                    <img src="../../Content/portal/img/cam.png" alt="Clique para adicionar" title="Clique para adicionar" />
                </div>
            </div>
            <div class="addNoticia" id="addFoto5" onclick="$('#file5').trigger('click');">
                <div style="margin-top: 40px;">
                    <img src="../../Content/portal/img/cam.png" alt="Clique para adicionar" title="Clique para adicionar" />
                </div>
            </div>
        </div>
        <br />
        <table>
        </table>
    </fieldset>
    <br />
    <fieldset style="border: 1px solid gainsboro; padding: 10px;">
        <legend><b>&nbsp;Adicione um Vídeo&nbsp;</b></legend>
        <table>
            <tr style="width: 800px;">
                <td style="padding-top: 12px; padding-right: 10px; float: right;">
                    Link do Youtube:
                </td>
                <td colspan="3">@Html.TextBoxFor(x => x.LinKVideo, new { @id = "txtLinkVideo", @style = "width:800px;", @class = "caixaTextoPortal", @maxlength = "60", @onkeyup = "countCaracter('#txtTitulo', '#counterTitulo');" })
                </td>
            </tr>
        </table>
    </fieldset>
    <br />
    <fieldset style="border: 1px solid gainsboro; padding: 10px;">
        <legend><b>&nbsp;Informações da Notícia&nbsp;</b></legend>
        <br />
        <table>
            <tr style="width: 600px;">
                <td style="padding-top: 12px; padding-right: 10px; float: left;">
                    <b>Título: * </b>
                </td>
                <td colspan="3">
                    @Html.TextBoxFor(x => x.Titulo, new { @id = "txtTitulo", @style = "width:600px;", @class = "caixaTextoPortal", @maxlength = "100", @onkeyup = "countCaracter('#txtTitulo', '#counterTitulo');" })
                    <div id="counterTitulo" style="text-align: left; font-size: 12px; color: #999999;
                        line-height: 12px;" title="100">
                        Restam 100 Caracteres.</div>
                </td>
                <td id="invalidTitulo" style="padding-top: 12px; padding-left: 10px; padding-right: 10px;
                    float: left; color: red; display: none;">
                    * Campo Obrigatório
                </td>
            </tr>
            <tr>
                <td style="padding-top: 12px; padding-right: 10px; float: left;">
                    Sub-Título:
                </td>
                <td colspan="3">@Html.TextBoxFor(x => x.Subtitulo, new { @id = "txtSubTitulo", @style = "width:600px;", @class = "caixaTextoPortal", @maxlength = "100", @onkeyup = "countCaracter('#txtSubTitulo', '#counterSubTitulo');" })
                    <div id="counterSubTitulo" style="text-align: left; font-size: 12px; color: #999999;
                        line-height: 12px;" title="100">
                        Restam 100 Caracteres.</div>
                </td>
            </tr>
        </table>
    </fieldset>
    <br />
    <fieldset style="border: 1px solid gainsboro; padding: 10px;">
        <legend><b>&nbsp;Notícia Resumida&nbsp;</b></legend>
        <div id="invalidNoticiaResumida" style="padding-top: 12px; padding-left: 10px; padding-right: 10px;
            float: left; color: red; display: none;">
            * Campo Obrigatório
        </div>
        @Html.TextAreaFor(x => x.Resumo, new { @id = "txtResumo", @style = "width:900px; height:100px;", @class = "caixaTextoPortal", @maxlength = "300", @onkeyup = "countCaracter('#txtResumo', '#counterResumo');" })
        <div id="counterResumo" style="text-align: left; font-size: 12px; color: #999999;
            line-height: 12px;" title="300">
            Restam 300 Caracteres.</div>
    </fieldset>
    <br />
    <fieldset style="border: 1px solid gainsboro; padding: 10px;">
        <legend><b>&nbsp;Notícia Detalhada&nbsp;</b></legend>
        <div id="invalidNoticiaDetalhada" style="padding-top: 12px; padding-left: 10px; padding-right: 10px;
            float: left; color: red; display: none;">
            * Campo Obrigatório
        </div>
        @Html.TextAreaFor(x => x.Conteudo, new { @id = "txtConteudo", @style = "width:900px; height:100px;", @class = "caixaTextoPortal" })
    </fieldset>
    <br />
    <fieldset style="border: 1px solid gainsboro; padding: 10px;">
        <legend>&nbsp;Relacionar Políticos:&nbsp;</legend>
        <div style="font-size: 12px; color: #999999; line-height: 12px; float: left;">
            <strong>É possível vincular políticos a esta nessa notícia, para que, os usuários que
                acompanhem-o por email, possam recebê-la. </strong>
        </div>
        <br />
        <div>
            <div id="divValidation" style="display: none; color: red; margin-bottom: 10px;">
            <br />
            </div>
            <br />
            <table>
                <tr>
                    <td style="padding-top: 12px; padding-right: 10px; float: left;">
                        Cargo:
                    </td>
                    <td style="width: 350px;">
                        @Html.DropDownListFor(x => x.IdCargo, new SelectList(Model.ListaCargos, "IdCargo", "Nome"), "Selecione", new { @id = "ddlCargos", @style = "width:390px;", @class = "caixaTextoPortal", @onchange = "ddlCargos_change()" })
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 12px; padding-right: 10px; float: left;">
                        Político:
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.IdPolitico, new SelectList(Model.ListaPoliticos, "IdPolitico", "Nome"), new { @id = "ddlPoliticos", @disabled = "disabled", @style = "width:390px;", @class = "caixaTextoPortal" })
                    </td>
                    <td style="padding-top: 5px; padding-left: 10px; float: left;">
                        <button style="float: left; font-size: 20px; height: 30px; cursor: pointer; border-radius: 4px;
                            width: 32px; background-color: #3081c8; color: white;" onclick="vincularPolitico();"
                            type="button" id="btnVincular">
                            +</button>
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <div id="dynamic">
        </div>
    </fieldset>
    
    <input type="file" id="file0" name="file0" style="display: none;" />
    <input type="file" id="file1" name="file1" style="display: none;" />
    <input type="file" id="file2" name="file2" style="display: none;" />
    <input type="file" id="file3" name="file3" style="display: none;" />
    <input type="file" id="file4" name="file4" style="display: none;" />
    <input type="file" id="file5" name="file5" style="display: none;" />
    <br />
}
<button type="button" onclick="salvar();" style="float: right; height: 30px; cursor: pointer;
    border-radius: 4px; width: 60px; margin-left: 5px; background-color: #3081c8;
    color: white;">
    Salvar</button>
<button type="button" onclick="voltar();" style="float: right; height: 30px; cursor: pointer;
    width: 60px; margin-left: 5px; border-radius: 4px; background-color: #3081c8;
    color: white;">
    Voltar</button>
