@model Puc.Campinas.ProjetoFinalSI.Web.Models.UsuarioModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutSemLogar.cshtml";
}
<script type="text/javascript">

    $(function ($) {
        $('#txtPass')[0].type = 'password';

        $('#UsuarioLogin').keypress(function (e) {
            if (e.which == 13) {
                $('#frmLoginUsuarios').submit();
            }
        });
        
        $('#txtPass').keypress(function (e) {
            if (e.which == 13) {
                $('#frmLoginUsuarios').submit();
            }
        });

    });

</script>

<br /><br /><br />
<!--<center><img src="../../Content/img/logo_login.png" alt="Login"/></center>-->
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "frmLoginUsuarios" }))
{   
    <br />   
    <br />
    <fieldset style="width: 400px; margin-left:25%; border:none;"  >
        @Html.ValidationSummary(false)
        <table>
            <tr>
                <td>
                    <img src="../../Content/img/lock_locked.png" alt="Login" />
                </td>
                <td>
                    <div class="editor-label">
                        @Html.Label("* Login: ")
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(x => x.UsuarioLogin, new { @style = "width:252px;", @maxlength = "10" })
                    </div>
                    <br />
                    <div class="editor-label">
                        @Html.Label("* Senha: ")
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(x => x.Senha, new { @style = "width:252px;", @maxlength = "15", @id = "txtPass" })
                    </div>
                </td>
            </tr>
        </table>
        <br />
        <div id="botoesInferiores" align="right">
            <table>
                <tr>
                    <td>
                        <a class="bt_blue" href="#" onclick="$('#frmLoginUsuarios').submit();"><span class="bt_blue_lft">
                        </span><strong>Entrar</strong> <span class="bt_blue_r"></span></a>
                    </td>
                </tr>
            </table>
        </div>
    </fieldset>
}
