@model Puc.Campinas.ProjetoFinalSI.Web.Models.DespesaModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $(function ($) {

        $("#DtInicio").mask("99/99/9999");
        $("#DtFim").mask("99/99/9999");
    });

</script>
<h4>
    <a class="migalha_pao_inicio" href="@Url.Action("Index", "Home")"> Painel de controle </a>
    <a class="migalha_pao_proximo" href="#"> <img src="../../Content/img/arrow_right2.png" alt="" /> </a>
    <a class="migalha_pao_meio" href="@Url.Action("Index", "Despesas")"> Manutenção de despesas </a>
    <a class="migalha_pao_proximo" href="#"> <img src="../../Content/img/arrow_right2.png" alt="" /> </a>
    <a class="migalha_pao_fim" href="#"> Alterar despesa </a>
</h4>
@using (Html.BeginForm("Edit", "Despesas", FormMethod.Post, new { id = "frmEditDespesas" }))
{   
    @Html.ValidationSummary(false);
    @Html.Hidden("IdDespesa", Model.IdDespesa)
    @Html.Hidden("IdPolitico", Model.IdPolitico)
    @Html.Hidden("IdPartido", Model.IdPartido)  
    
            <div class="editor-label">
        @Html.Label("Nome do Político: ")
        </div>   
     
                <div class="editor-field">
                     @Html.TextBoxFor(x => x.NomePolitico, new { @maxlength = "100", @style = "width:520px;", @id = "txtDocumento", @disabled = "disabled" })
                </div>
                <br /> 
       <div class="editor-label">
        @Html.Label("Partido: ")
        </div>   
      
              <div class="editor-field">
                    @Html.TextBoxFor(x => x.NomePartido, new { @maxlength = "14", @style = "width:520px;", @id = "txtDocumento", @disabled = "disabled" })
                </div>
                       <br /> 
    
    <div class="editor-label">
        @Html.Label("* Descrição: ")
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(x => x.Descricao, new { @style = "width:520px;", @maxlength = "50" })
    </div>
    <div class="editor-label">
        @Html.Label("* Tipo: ")
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(x => x.IdCategoria, new SelectList(Model.ListCategoria, "IdCategoria", "Nome"), "Selecione ...", new { @style = "width:200px;" })
    </div>
    <div class="editor-label">
        @Html.Label("* Nome do Fornecedor: ")
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(x => x.NomeFornecedor, new { @style = "width:520px;", @maxlength = "50" })
    </div>

    <div class="editor-label">
        @Html.Label("* CPF ou CNPJ do Fornecedor: ")
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(x => x.CPF_CNPJ_Forn, new { @maxlength = "14", @style = "width:118px;" })
    </div>
    <br />
    <div class="editor-label">
        @Html.Label("* Valor: ")
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(x => x.Valor, new { @maxlength = "50", @style = "width:15%; text-transform:uppercase;" })
    </div>
    <br />
    <div class="editor-label">
        @Html.Label("* Data da Despesa: ")
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(x => x.DtDespesa, new { @style = "width:120px;" })
    </div>          


    <br />
    <br />

    
    <div id="botoesInferiores" align="right">
        <table>
            <tr>
                <td>
                    <a class="bt_blue" href="#" onclick="location.href='@Url.Action("Index", "Despesas")'">
                        <span class="bt_blue_lft"></span><strong>Voltar</strong> <span class="bt_blue_r">
                        </span></a>
                </td>
                <td>
                    <span>&nbsp</span>
                </td>
                <td>
                    <a class="bt_blue" href="#" onclick="$('#frmEditDespesas').submit();"><span class="bt_blue_lft">
                    </span><strong>Salvar</strong> <span class="bt_blue_r"></span></a>
                </td>
            </tr>
        </table>
    </div>         
}
